.meter {
    width: 300px;
    height: 150px;
    background: #dfc68d;
    position: relative;
    overflow: hidden;
}

.needle {
    background: black;
    width: 120px;
    height: 2px;
    transform: rotate(20deg);
    transform-origin: 100% 0%;
    position: absolute;
    bottom: 10px;
    left: 30px;
    transition: transform .05s;
    z-index: 9;
}

.shadow {
    border-top: solid 40px rgba(0, 0, 0, .3);
    border-left: solid 30px rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    top: -10px;
    left: -10px;
    position: absolute;
    filter: blur(5px);
}

.label {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 55%;
}

.meter .indicator {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em
}

.meter .indicator.plus {
    left: auto;
    right: 20px;
    color: #aa0000;
}

.needleBase {
    width: 75px;
    height: 32px;
    position: absolute;
    bottom: 9px;
    left: 110px;
    z-index: 1;
    overflow: hidden;
}

.needleBase span {
    display: black;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #333;
    position: absolute;
    top: 50%;
}

.meterLine {
    width: 250px;
    height: 97px;
    position: absolute;
    top: 8px;
    left: 30px;
    overflow: hidden;
    z-index: 1;
}

.meterLine span.base {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 25px;
    top: 32px;
    border-radius: 100%;
    border: solid 1px black;
}

.meterLine .danger {
    width: 30%;
    position: absolute;
    height: 75px;
    left: 145px;
    top: 22px;
    overflow: hidden;
}

.meterLine .danger span.base {
    position: absolute;
    left: -128px;
    top: 0px;
    border: solid 10px #a00;
}

#meters {
    display: flex;
}

.meter {
    margin-right: 20px;
}